<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <title>Portfolio</title>
</head>
<body>
   <div class="main">
        <!--asosiy frame-->
        <div class="main_frame">
            <!--chap tomon-->
            <div class="left_frame">
                <div class="left_1">
                    <div class="left1_1"><img src="images/profile.png" width="156px" height="142px" alt=""></div>
                    <div class="left1_2">
                        <%=user.name%>
                    </div>
                    <div class="left1_3">
                        <%=user.profession%>
                    </div>
                    <div class="left_icons">
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Icons-facebook (1).png" alt="" class="icon1">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Vector (1).svg" alt="" class="icon1">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src=" icon/Vector (2).svg" alt="" class="icon1">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Vector (3).svg" alt="" class="icon1">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Icons-Youtube.svg" alt="" class="icon1">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Vector (5).svg" alt="" class="icon1">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="marginer"></div>
                <div class="left_2">
                    <div class="a">
                        <div class="b"><%=user.X%></div>
                        <div class="b1"><%=user.age%></div>
                    </div>
                    <div class="a">
                        <div class="c"><%=user.Y%></div>
                        <div class="c1"><%=user.residence%></div>
                    </div>
                    <div class="a">
                        <div class="d"><%=user.F%></div>
                        <div class="d1"><%=user.freelance%></div>
                    </div>
                    <div class="a">
                        <div class="e"><%=user.A%></div>
                        <div class="e1"><%=user.address%></div>
                    </div>
                </div>
                <div class="marginer"></div>
                <div class="left_3">
                    <div class="left_3a">
                        <div class="langc"><%=user.L%></div>
                        <div class="lang">
                            <div class="langu"><%=user.Uz%></div>
                            <div class="langu1"><%=user.Foiz%></div>
                        </div>
                        <div class="percentage">
                            <div class="lchiziq5"></div>
                        </div>
                        <div class="lang">
                            <div class="lange"><%=user.En%></div>
                            <div class="lange1"><%=user.Foiz1%></div>
                        </div>
                        <div class="percentage">
                            <div class="lchiziq6"></div>
                        </div>
                        <div class="lang">
                            <div class="lange"><%=user.Kor%></div>
                            <div class="lange1"><%=user.Foiz2%></div>
                        </div>
                        <div class="percentage">
                            <div class="lchiziq7"></div>
                        </div>
                    </div>
                </div>
                
                <div class="marginer"></div>
                
                <div class="left_4">
                    
                    <div class="skil">
                        <div class="nameS">Skills</div>
                        <div class="skil1">
                            <div class="sinfo"><%=user.skills[0]%></div>
                            <div class="sinfoN"><%=user.foiz[0]%></div>
                        </div>
                        <div class="percentage">
                            <div class="chiziq"></div>
                        </div>
                        
                        <div class="skil1">
                            <div class="sinfo"><%=user.skills[1]%></div>
                            <div class="sinfoN"><%=user.foiz[1]%></div>
                        </div>
                       <div class="percentage">
                            <div class="chiziq1"></div>
                        </div>
                        <div class="skil1">
                            <div class="sinfo"><%=user.skills[2]%></div>
                            <div class="sinfoN"><%=user.foiz[2]%></div>
                        </div>
                        <div class="percentage">
                            <div class="chiziq2"></div>
                        </div>
                        <div class="skil1">
                            <div class="sinfo"><%=user.skills[3]%></div>
                            <div class="sinfoN"><%=user.foiz[3]%></div>
                        </div>
                        <div class="percentage">
                            <div class="chiziq3"></div>
                        </div>
                        <div class="skil1">
                            <div class="sinfo"><%=user.skills[4]%></div>
                            <div class="sinfoN"><%=user.foiz[4]%></div>
                        </div>
                        <div class="percentage">
                            <div class="chiziq4"></div>
                        </div>

                    </div>
                


                
                </div>
                
                
                <div class="marginer"></div>
                <div class="left_5">
                        <div class="nameS1">Extra Skills</div>
                    <div class="skil1">
                            <div class="sinfo1"><img src="icon/Icons (1).svg" alt="">  </div>
                            <div class="sinfoN1"><%=user.extra_skills[1]%></div>
                            
                        </div>
                    <div class="skil1">
                            <div class="sinfo1"><img src="icon/Icons (1).svg" alt=""></div>
                            <div class="sinfoN1"><%=user.extra_skills[1]%></div>
                        </div>
                    <div class="skil1">
                            <div class="sinfo1"><img src="icon/Icons (1).svg" alt=""></div>
                            <div class="sinfoN1"><%=user.extra_skills[2]%></div>
                        </div>
                    <div class="skil1">
                            <div class="sinfo1"><img src="icon/Icons (1).svg" alt=""></div>
                            <div class="sinfoN1"><%=user.extra_skills[3]%></div>
                        </div>
                </div>

                <div class="marginer"></div>
                
            </div>
            <!--o'rta tomon-->
            
            <div class="middle_frame">
                <div class="up1">
                    <div class="mid_left">
                    <div class="mid_left1">Doctor neurologists in OHSU Hospital </div>
                    <div class="mid_left2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et, volutpat feugiat placerat lobortis. Natoque rutrum semper sed suspendisse nunc lectus</div>
                    <button class="button">
                        <div class="ubutton">
                            <div class="btext">HIRE ME</div>
                            <div class="bicon"><div class="B_icon"><img src="icon/bicon.svg" alt="" style="margin-bottom: 9px;"></div></div>
                        </div>
                    </button>
                    </div>
                <div class="mid_right">
                    <img src="/author/images/yourimg.png " >
                </div>
            </div>

            <div class="up2">

                <div class="part1">My services</div>
                <div class="part2"><%=user.about_me%></div>
                <div class="part3">
                    <div class="last1">
                        <div class="shakl"><img src="icon/1.svg" alt="" width="68px" height="68px"></div>
                        <div class="soha1"><p class="pm">Web development</p></div>
                        <div class="matn1"><p class="pm1">blog, e-commerce</p></div>
                    </div>
                    <div class="last2">
                        <div class="shakl"><img src="icon/2.svg" alt="" width="68px" height="68px"></div>
                        <div class="soha2"><p class="pm">uI/uX design</p></div>
                        <div class="matn2"><p class="pm1">Mobile app, website design</p></div>
                    </div>
                    <div class="last3">
                        <div class="shakl"><img src="icon/3.svg" alt="" width="68px" height="68px"></div>
                        <div class="soha3"><p class="pm">sound design</p></div>
                        <div class="matn3"><p class="pm1">Voice Over, Beat Making</p></div>
                    </div>
                </div>
                <div class="part3">
                    <div class="last1_1">
                        <div class="shakl"><img src="icon/4.svg" alt="" width="68px" height="68px"></div>
                        <div class="soha4"><p class="pm">game design</p></div>
                        <div class="matn4"><p class="pm1">Character Design, Props & Objects</p></div>
                    </div>
                    <div class="last2_2">
                        <div class="shakl"><img src="icon/5.svg" alt="" width="68px" height="68px"></div>
                        <div class="soha5"><p class="pm">photography</p></div>
                        <div class="matn5"><p class="pm1">portrait, product photography</p></div>
                    </div>
                    <div class="last3_3">
                        <div class="advert">Advertising</div>
                        <div class="soha6"><p class="pm1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae nulla diam in ac dictum a urna viverra morbi. </p></div>
                       <div class="matn6">Order now</div>
                        
                    </div>
                </div>




            </div>

                
            
            </div>
            <!--o'ng tomon-->
            <div class="right_frame">
                <div class="right_icon right_icon1">
                    <a href=""> <img src="icon/r1.svg" alt="">  </a>
                </div>
                <div class="right_icon right_icon2">
                   <div class="aylana home"> <div class="home1"><a href=""><img src="icon/r2.svg" alt=""></a></div></div>
                </div>
                <div class="right_icon right_icon3">
                    <div class="aylana"> <a href=""><img src="icon/r3.svg" alt=""></a></div>
                </div>
                <div class="right_icon right_icon4">
                    <div class="aylana"> <a href=""><img src="icon/r4.svg" alt=""></a></div>
                </div>
                <div class="right_icon right_icon5">
                    <div class="aylana"> <a href=""><img src="icon/r5.svg" alt=""></a></div>
                </div>
                <div class="right_icon right_icon6">
                    <div class="aylana"> <a href=""><img src="icon/r6.svg" alt=""></a></div>
                </div>
                <div class="right_icon right_icon7">
                    <div class="aylana"> <a href=""><img src="icon/r7.svg" alt=""></a></div>
                </div>
            </div>
        </div>
     
    </div>

   </div>
</body>
</html>